body {
    margin: 0; /* Removes default browser margin */
    padding: 0;
    text-align: center;
    font-family: "Inter", sans-serif;
    background-color: #fce1f3; /* Pastel Pink */
    color: #7d5ba6;
}

.profile{
    padding-top: 200px;
    /*padding-top: 0px;*/
}

.profile pfp {
    float:left;
}

.profile-details {
    font-size: 20px;
    padding: 0 20px;
}

.card-details {
    font-size: 20px;
    padding: 0 20px;
}

@media (max-width: 1000px) {
    .profile {
        padding-top: 250px;
    }
}

@media (max-width: 600px) {
    .profile {
        padding-top: 500px;
    }
}