body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: "Inter", sans-serif;
  background-color: #fce1f3;
  color: #7d5ba6;
}

.trends {
  text-align: center;
  padding-top: 180px;
  font-size: 25px;
  
}

.chart-container {
  width: 250px;
  height: 250px;
  margin: 20px auto;
}

canvas {
  display: block;
  margin: 0 auto;
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 1000px) {
  .trends {
      padding-top: 200px;
  }
}

@media (max-width: 600px) {
  .trends {
      padding-top: 300px;
  }
}